/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a62b0;
  --ifm-color-primary-dark: #17589e;
  --ifm-color-primary-darker: #154f8d;
  --ifm-color-primary-darkest: #11406f;
  --ifm-color-primary-light: #417fbd;
  --ifm-color-primary-lighter: #5a93c7;
  --ifm-color-primary-lightest: #7bb0db;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #417fbd;
  --ifm-color-primary-dark: #3971a7;
  --ifm-color-primary-darker: #326395;
  --ifm-color-primary-darkest: #274d74;
  --ifm-color-primary-light: #5a93c7;
  --ifm-color-primary-lighter: #7bb0db;
  --ifm-color-primary-lightest: #a3cbe7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

nav.navbar a {
  color: #5f6368;
}

b.navbar__title {
  font-weight: 600 !important;
}

h1 {
  font-size: 2.35rem !important;
}

h2 {
  font-size: 1.75rem !important;
}

.navbar__logo {
  margin-right: 1rem;
}

/* Light mode only */
html:not([data-theme="dark"]) .footer {
  background-color: #f8f9fa !important;
  color: #222 !important;
}

html:not([data-theme="dark"]) .footer a {
  color: #1a62b0 !important;
}

html:not([data-theme="dark"]) .footer .footer__title {
  color: #222 !important;
}

[data-theme="dark"] .footer {
  background-color: var(--ifm-navbar-background-color) !important;
}

/* When the zoom dialog is opening / closed */
[data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(0, 0, 0, 0);
}

/* When the zoom dialog is open (VISIBLE) */
[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.75) !important; /* <- adjust darkness */
}

img.doc-image {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

/* Category index card titles */
a.card h2 {
  color: #1a62b0;
}

@media (max-width: 900px) {
  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
